  <h1>Matemática Computacional - Cálculo Númerico</h1>

  <a href="/metodo-bissecao/"><button>Método da Bisseção</button></a>

  <a href="/eliminacao-de-gauss/"><button>Eliminação de Gauss</button></a>

<footer>
  <p>Desenvolvido por Leandro</p>
</footer>

<style>
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
  }

  h1 {
    color: #2c3e50;
  }

  button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
  }

  button:hover {
    background-color: #2980b9;
  }
</style>

</html>